*,::before,::after{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 500px;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.top-10{
    top: 10px;
}
.my-0{
    margin-top: 0;
    margin-bottom: 0;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-32{
    margin-bottom: 32px;
}
.visibility-hidden{
    visibility: hidden;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.text-danger{
    color: #ff0000;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: right;
}
.calculator{
    padding: 30px;
    width: 500px;
    border: 5px solid transparent;
    border-radius: 10px;
    animation: border-linear 5s linear infinite both;
}
@keyframes border-linear {
    0% {
        border-image: linear-gradient(to bottom right, rgb(0, 0, 0) 0%, rgb(192, 182, 182) 10%);
        border-image-slice: 1;
    }
    10% {
        border-image: linear-gradient(to bottom right, rgb(0, 0, 0) 0%, rgb(192, 182, 182) 30%);
        border-image-slice: 1;
    }
    20% {
        border-image: linear-gradient(to bottom right, rgb(0, 0, 0) 0%, rgb(192, 182, 182) 60%);
        border-image-slice: 1;
    }
    30% {
        border-image: linear-gradient(to bottom right, rgb(192, 182, 182) 0%, rgb(0, 0, 0) 60%);
        border-image-slice: 1;
    }
    40% {
        border-image: linear-gradient(to bottom right, rgb(192, 182, 182) 0%, rgb(0, 0, 0) 80%);
        border-image-slice: 1;
    }
    50% {
        border-image: linear-gradient(to bottom right, rgb(192, 182, 182) 0%, rgb(0, 0, 0) 100%);
        border-image-slice: 1;
    }
    60% {
        border-image: linear-gradient(to bottom right, rgb(192, 182, 182) 0%, rgb(0, 0, 0) 80%);
        border-image-slice: 1;
    }
    70% {
        border-image: linear-gradient(to bottom right, rgb(192, 182, 182) 0%, rgb(0, 0, 0) 60%);
        border-image-slice: 1;
    }
    80% {
        border-image: linear-gradient(to bottom right, rgb(0, 0, 0) 0%, rgb(192, 182, 182) 60%);
        border-image-slice: 1;
    } 
    90% {
        border-image: linear-gradient(to bottom right, rgb(0, 0, 0) 0%, rgb(192, 182, 182) 30%);
        border-image-slice: 1;
    }
    100% {
        border-image: linear-gradient(to bottom right, rgb(0, 0, 0) 0%, rgb(192, 182, 182) 10%);
        border-image-slice: 1
    }
}
.outputArea{
    border: 2px solid #000;
    padding: 16px;
    border-radius: 10px;
}
.js-output{
    text-align: right;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}
.btn{
    width: 100px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background-color: #a6a6ad;
}
.btn:active{
    cursor: pointer;
    background-color: #62626f;
}
.w-320{
    width: 320px;
}
.w-210{
    width: 210px;
}
